.content-side__title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 23px;
}



.content-side__list-item--title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 23px;
}

.content-side__list-item--text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 23px;
}

.content-side__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 25px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 36px;
    margin-bottom: 36px;
}

.content-side__list-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.content-side__list-item--title {
    margin-bottom: 7px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}

.content-side__list-item--text {
    margin-bottom: 7px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.content-side__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content-side__footer--item {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 16px;

}

.content-side__footer a {
    color: #C4C4C4;
}

.content-side {
    width: 260px;
    min-width: 260px;
}

@media (max-width: 991px) {


    .content-side {
        width: 100%;
        min-width: none;
    }
}